{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- jumbotron -->
<section class="demo-hero-17 full-height xs-full-height bg-warning-light m-t-20 xs-m-t-20">
  <div class="container xs-p-l-5 xs-p-r-5">
    <div class="row m-t-100 xs-p-l-5 xs-p-r-5">
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30">
        <h1 class="mega font-montserrat text-uppercase text-white" id="responsive_headline" style="font-size: 57px; line-height: 48px;">
          Analytics
        </h1>
        <label class="label label-default">Under Construction</label>
        <h4 class="m-t-20 m-b-20 fs-21" style="max-width: 500px">
          Collect leads from any form on your website. We have you covered.
          Lead generation has never been easier. It take just 5 minutes to setup
          and work with Wordpress, static sites, other CMS or virtualy with any form.
        </h4>
        <div class="">
          <div class="form-group form-group-default input-group no-border input-group-attached col-md-12  col-sm-12 col-xs-12">
            <label class="control-label">Email Address</label>
            <input type="email" class="form-control" placeholder="johnsmith@abc.com">
            <span class="input-group-btn">
               <button class="btn btn-black  btn-cons" type="button">Notify Me</button>
            </span>
          </div>
        </div>
        <p class="text-white m-t-10">
          Be first to find out when we launch this feature.
        </p>
      </div>
      <!-- <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 hidden-xs hidden-sm">
        <div class="image">
          <img src="/assets/images/forms-list-view-desktop.png">
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- complete freedom -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/control.svg" height="180px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 col-sm-pull-4">
          <h1>
            Complete Control
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- easy embedding -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/embed.svg" height="180px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8">
          <h1>Easy Embedding</h1>
          <p>
            Our long standing vision has been to bypass the usual admin dashboard structure,
            and move forward with a more sophisticated yet simple
            framework that would create a credible impact on the many conventional dashboard users.
            <a href="#">Learn more</a>
          </p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- pre made templates -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/template.svg" height="180px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 col-sm-pull-4">
          <h1>
            Templates
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- notifications -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/notification.svg" height="180px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8">
          <h1>Realtime Notification</h1>
          <p>
            Our long standing vision has been to bypass the usual admin dashboard structure,
            and move forward with a more sophisticated yet simple
            framework that would create a credible impact on the many conventional dashboard users.
            <a href="#">Learn more</a>
          </p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- data export -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/export-import.svg" height="180px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 col-sm-pull-4">
          <h1>
            Export/Import
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->
<section class="p-b-15 p-t-15 bg-master-dark text-center text-white">
  <h3 class="inline text-white xs-m-b-20">
    Create your first form for free
  </h3>
  <br>
  <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin" href="http://app.formester.com/users/sign_up?utm_source=website_bottom_button">
    Sign Up
  </a>
</section>


{{ partial "footer.html" . }}
