{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<link href="/assets/css/colors.css" rel="stylesheet" type="text/css" />

<!-- jumbotron -->
<section class="demo-hero-17 full-height xs-full-height bg-green m-t-20 xs-m-t-20">
  <div class="container xs-p-l-5 xs-p-r-5">
    <div class="row m-t-100 xs-p-l-5 xs-p-r-5">
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 text-align-center">
        <h1 class="mega font-montserrat text-uppercase text-white" id="responsive_headline" style="font-size: 57px; line-height: 110%; font-weight: 600;">
          Auto Responder
        </h1>
        <h4 class="m-t-20 m-b-20 fs-21" style="max-width: 500px">
          The first response is critical to any business.
          Formester makes it dead easy to respond to any form submission.
          With our autoresponder, you can send personalised emails to your customers.
          Do all this while not looking like a bot.
          We guarantee to make you look human.
        </h4>
        <div class="p-t-10">
          <a href="https://formester.herokuapp.com/users/sign_up?utm_source=auto_responder" class="btn btn-lg btn-black">
            Sign Up Now
          </a>
          <a href="/contact" class="btn btn-lg btn-default m-l-10 hidden-xs">
            Contact Sales
          </a>
        </div>
        <!-- <p class="text-white m-t-10">
          Be first to find out when we Launch our product.
        </p> -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 hidden-xs hidden-sm m-t-60">
        <!-- BEGIN IMAGE -->
        <div class="image">
          <img src="/assets/images/forms-autoresponder-desktop.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- white label -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/email.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            White Label Email
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>
            We make your email look humane.
            All emails are delivered using your official email address.
            Look more professional without all the hassles.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- easy email builder -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/builder.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Easy Email Builder</h1>
          <p>
            Creating beautiful response has never been simpler.
            Our easy to use editor enables you to write powerful content.
            Add images, links or videos in a matter of click.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- personalization -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/person-to-person.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Personalised Response
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>
            Getting attention is difficult as every brand fights for users attention.
            Personalisation can increase your chance of engaging users.
            Use fields from your form to make your email more relevant.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- tracking -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/analytics.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Realtime Tracking</h1>
          <p>
            Monitor how people are reacting to your response.
            Analyse useful metrics like open rate and link clicks to get insights into users behaviour.
            Use this data to make changes to your communication.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->
<section class="p-b-25 p-t-25 bg-master-dark text-center text-white">
  <h3 class="inline text-white xs-m-b-20">
    Create your first form now
  </h3>
  <br>
  <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin" href="https://formester.herokuapp.com/users/sign_up?utm_source=website_bottom_button">
    Start My Free Trial
  </a>
</section>


{{ partial "footer.html" . }}
