{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="p-t-90">
  <section class="container container-fixed-lg p-t-50 p-b-100 sm-p-b-30 sm-m-b-30">
    <div class="row">
      <div class="col-md-6">
        <h2>
          How can we assist you?
        </h2>
        <div class="p-r-40 sm-p-r-0">
          <br>
          <div class="row">
            <div class="col-sm-6">
              <h5 class="block-title hint-text m-b-0">
                Formester, Inc
              </h5>
              <address class="m-t-10">
                2035 Sunset Lake<br>
                Newark<br>
                Delaware 19702
              </address>
              <br>
              <p class="hint-text no-margin">
                <span class="fs-12 font-montserrat bold all-caps p-r-10">Tel</span>
                <span class="fs-14">+1 (302) 709-1947</span>
              </p>
              <p class="hint-text no-margin">
                <span class="fs-12 font-montserrat bold all-caps p-r-10">Email</span>
                <span class="fs-14">support@formester.com</span>
              </p>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-6">
        <div class="visible-xs visible-sm b-b b-grey-light m-t-35 m-b-30"></div>
        <div class="p-l-40 sm-p-l-0 sm-p-t-10">
          <div class="panel" id="contact-panel">
            <p class="semi-bold no-margin">Fill up this form to contact us if you have any futher questions</p>
            <form role="form" autocomplete="off" class="m-t-15" id="contact-form" method="post" action="http://app.formester.com/forms/8a8ce034-1e82-410c-addb-702a0367df99/submissions">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group form-group-default required" aria-required="true">
                    <label class="control-label">First name</label>
                    <input type="text" name="name" class="form-control" aria-required="true" required>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group form-group-default required">
                    <label class="control-label">Last name</label>
                    <input type="text" name="last-name" class="form-control" required="" aria-required="true">
                  </div>
                </div>
              </div>
              <div class="form-group form-group-default required">
                <label class="control-label">Work Email</label>
                <input type="email" name="email" placeholder="This can be changed later" class="form-control" required aria-required="true">
              </div>
              <div class="form-group form-group-default required">
                <label class="control-label">Company Name</label>
                <input type="text" name="company" placeholder="Name of your company" class="form-control" required aria-required="true">
              </div>
              <div class="form-group form-group-default">
                <label class="control-label">Message</label>
                <textarea name="message" placeholder="Type the message you wish to send" style="height:100px" class="form-control" required="" aria-required="true"></textarea>
              </div>
              <div class="sm-p-t-10 clearfix">
                <!-- <p class="pull-left small hint-text m-t-5 font-arial">I hereby certify that the information above is true and accurate. </p> -->
                <button class="btn btn-primary font-montserrat all-caps fs-12 pull-right xs-pull-left">Submit</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{{ partial "footer.html" . }}
