{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<!-- jumbotron -->
<section class="demo-hero-17 full-height xs-full-height bg-warning-light m-t-20 xs-m-t-20">
  <div class="container xs-p-l-5 xs-p-r-5">
    <div class="row m-t-100 xs-p-l-5 xs-p-r-5">
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 text-align-center">
        <h1 class="mega font-montserrat text-uppercase text-white" id="responsive_headline" style="font-size: 57px; line-height: 110%; font-weight: 600;">
          Embedded HTML Forms
        </h1>
        <h4 class="m-t-20 m-b-20 fs-21" style="max-width: 500px">
          Create a form on any website within minutes, no coding required.
          Just point your form to our app and we will take care of the rest.
          It just takes five minutes to set it up.
          Formester works with Wordpress, static sites, other CMS or virtually any page on the web.
        </h4>
        <div class="p-t-10">
          <a href="https://formester.herokuapp.com/users/sign_up?utm_source=html_forms" class="btn btn-lg btn-black">
            Sign Up Now
          </a>
          <a href="/contact" class="btn btn-lg btn-default m-l-10 hidden-xs">
            Contact Sales
          </a>
        </div>
        <!-- <p class="text-white m-t-10">
          Be first to find out when we Launch our product.
        </p> -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 hidden-xs hidden-sm m-t-60">
        <!-- BEGIN IMAGE -->
        <div class="image">
          <img src="/assets/images/forms-list-view-desktop.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- complete freedom -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/control.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Complete Control
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>
            Never worry about your form not looking perfect like your website.
            With Formester you have everything under control.
            Style the forms and make it look the way you want it.
            No embedding or JavaScript required.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- easy embedding -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/embed.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Easy Embedding</h1>
          <p>
            If you are looking a form that just works out of the box, Formester is for you.
            Just copy our snippet and get started.
            It takes less than 5 minutes to make a working form on your website.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- pre made templates -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/template.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Premade Templates
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>
            We have seen a lot of forms and chances are we know what you need.
            Formester comes with a lot of templates to cover common use cases.
            Browse our gallery and pick the right one for you.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- notifications -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/notification.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Realtime Notification</h1>
          <p>
            Get a real-time notification on form submission.
            Stay on top of your business.
            You can configure Formester to notify you on Slack, Gmail or anywhere else.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- data export -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/export-import.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Export/Import
            <!-- <label class="label label-warning">Beta</label> -->
          </h1>
          <p>
            You own your data.
            We offer zero friction data import and export.
            If you decide to move on you can take everything with you.
            We also offer guided migration from other tools.
            Our team will do the work for you.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->
<section class="p-b-20 p-t-20 bg-master-dark text-center text-white">
  <h3 class="inline text-white xs-m-b-20 font-size-create">
    Create your first form
  </h3>
  <br>
  <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin md-padding-12-20" href="https://formester.herokuapp.com/users/sign_up?utm_source=website_bottom_button">
    Start My Free Trial
  </a>
</section>


{{ partial "footer.html" . }}
