{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<link href="/assets/css/colors.css" rel="stylesheet" type="text/css" />

<!-- jumbotron -->
<section class="demo-hero-17 full-height xs-full-height bg-blue m-t-20 xs-m-t-20">
  <div class="container xs-p-l-5 xs-p-r-5">
    <div class="row m-t-100 xs-p-l-5 xs-p-r-5">
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 text-align-center">
        <h1 class="mega font-montserrat text-uppercase text-white" id="responsive_headline" style="font-size: 57px; line-height: 110%; font-weight: 600;">
          Integrations
        </h1>
        <h4 class="m-t-20 m-b-20 fs-21" style="max-width: 500px">
          Collecting data is one battle won.
          Formester integrates with tools like Slack, Google Sheets and Salesforce.
          Send data anywhere you like.
          Getting started just takes few minutes with our pre-build templates.
        </h4>
        <div class="p-t-20">
          <a href="http://app.formester.com/users/sign_up?utm_source=integrations" class="btn btn-lg btn-black">
            Sign Up Now
          </a>
          <a href="/contact" class="btn btn-lg btn-default m-l-10 hidden-xs">
            Contact Sales
          </a>
        </div>
        <!-- <p class="text-white m-t-10">
          Be first to find out when we Launch our product.
        </p> -->
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 hidden-xs hidden-sm m-t-60">
        <!-- BEGIN IMAGE -->
        <div class="image">
          <img src="/assets/images/forms-webhooks.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- slack -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
          <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/slack.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Slack
          </h1>
          <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Google sheets -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/drive.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Google Sheets</h1>
          <p>
            Our long standing vision has been to bypass the usual admin dashboard structure,
            and move forward with a more sophisticated yet simple
            framework that would create a credible impact on the many conventional dashboard users.
            <a href="#">Learn more</a>
          </p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- smart filters -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/salesforce.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Salesforce
          </h1>
          <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- zapier -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/zapier.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Zapier</h1>
          <p>
            Our long standing vision has been to bypass the usual admin dashboard structure,
            and move forward with a more sophisticated yet simple
            framework that would create a credible impact on the many conventional dashboard users.
            <a href="#">Learn more</a>
          </p>
          <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- call to action -->
<section class="p-b-15 p-t-15 bg-master-dark text-center text-white">
  <h3 class="inline text-white xs-m-b-20 font-size-create">
    Create your first form for free
  </h3>
  <br>
  <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin md-padding-12-20" href="http://app.formester.com/users/sign_up?utm_source=website_bottom_button">
    Sign Up
  </a>
</section>


{{ partial "footer.html" . }}
