{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="p-t-90">
  <!-- BEGIN PRICING SECTION -->
  <section class="p-t-40 p-b-75 sm-p-t-30">
    <div class="container">
      <h1 class="text-center m-b-5">
        Pricing that just feels right
      </h1>
      <h3 class="text-center m-t-5">
          Start with our <strong class="font-montserrat all-caps">free</strong> plan.
      </h3>
      <table class="table table-striped pricing-table no-border m-t-60">
        <thead>
          <!-- first free plan -->
          <tr>
            <th class="no-border"></th>
            <th class="text-center v-align-top no-padding bg-master-lightest" style="width: 22%;">
              <div class="bg-menu-dark">
                <p class="block-title text-white fs-14 no-margin">
                  Free
                </p>
              </div>
              <p class="font-montserrat m-t-20 m-b-0 lh-large bold">
                <span class="fs-14 dollar">$</span> 0
              </p>
              <p class="block-title text-primary fs-12 m-t-0">
                per month
              </p>
              <p class="text-primary fs-14">
                <a class="btn btn-primary m-b-10" href="https://formester.herokuapp.com/users/sign_up?utm_source=pricing_plan_free">Sign Up</a>
              </p>
            </th>
            <th class="text-center v-align-top no-padding bg-master-lightest" style="width: 22%;">
              <div class="bg-menu-dark">
                <p class="block-title text-white fs-16 no-margin">
                  <b>Personal</b>
                </p>
              </div>
              <p class="font-montserrat m-t-20 m-b-0 lh-large bold">
                <span class="fs-14 dollar">$</span> 13
              </p>
              <p class="block-title text-primary fs-12 m-t-0">
                per month
              </p>
              <p class="text-primary fs-14">
                <a class="btn btn-primary m-b-10" href="https://formester.herokuapp.com/users/sign_up?utm_source=pricing_plan_personal">Sign Up</a>
              </p>
            </th>
            <th class="text-center v-align-top no-padding bg-master-lightest" style="width: 22%;">
              <div class="bg-menu-dark">
                <p class="block-title text-white fs-14 no-margin">
                  Scale
                </p>
              </div>
              <p class="font-montserrat m-t-20 m-b-0 lh-large bold">
                <span class="fs-14 dollar">$</span> 49
              </p>
              <p class="block-title text-primary fs-12 m-t-0">
                per month
              </p>
              <p class="text-primary fs-14">
                <a class="btn btn-primary m-b-10" href="https://formester.herokuapp.com/users/sign_up?utm_source=pricing_plan_scale">Sign Up</a>
              </p>
            </th>
          </tr>
        </thead>
        <tbody>
          <!-- number for forms row -->
          <tr>
            <td>
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Number of forms
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="block-title text-primary fs-14">
                3
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="block-title text-primary fs-14">
                5
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="block-title text-primary fs-14">
                10
              </p>
            </td>
          </tr>

          <!-- number of submissions -->
          <tr>
            <td>
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Number of submissions per month
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="block-title text-primary fs-14">
                100
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="block-title text-primary fs-14">
                5k
              </p>
            </td>
            <td class="text-center" data-title="Extended">
              <p class="block-title text-primary fs-14">
                15k
              </p>
            </td>
          </tr>

          <!-- auto responders -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Autorespond to leads
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- spam protection -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Spam protection
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- Integrations -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                API Integrations
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- Analytics -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Campaign Analytics
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-times text-danger fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- drip campaigns -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Drip campaigns
                <label class="m-l-10 label label-warning">BETA</label>
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-times text-danger fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- prospecting -->
          <tr class="bg-master-lightest">
            <td class="v-align-middle">
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Prospect new customers
                <label class="m-l-10 label label-warning">BETA</label>
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-times text-danger fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-times text-danger fs-14" style="font-style: italic"></h4>
            </td>
            <td class="text-center" data-title="Regular">
              <h4 class="fa fa-check text-success fs-14" style="font-style: italic"></h4>
            </td>
          </tr>

          <!-- number of submissions -->
          <tr>
            <td>
              <p class=" no-margin p-l-10 fs-14 semi-bold">
                Support
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="fs-14">
                Best Effort
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="fs-14">
                Email and Call Support
              </p>
            </td>
            <td class="text-center" data-title="Extended">
              <p class="fs-14">
                Priority Support
              </p>
            </td>
          </tr>

          <!-- final button row -->
          <tr class="bg-transparent">
            <td>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="text-primary fs-14">
                <a class="m-t-10 btn btn-primary" href="https://formester.herokuapp.com/users/sign_up">Subscribe</a>
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="text-primary fs-14">
                <a class="m-t-10 btn btn-primary" href="https://formester.herokuapp.com/users/sign_up">Subscribe</a>
              </p>
            </td>
            <td class="text-center" data-title="Regular">
              <p class="text-primary fs-14">
                <a class="m-t-10 btn btn-primary" href="https://formester.herokuapp.com/users/sign_up">Subscribe</a>
              </p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <!-- END PRICING SECTION -->

  <!-- FAQ -->
  <section class="bg-master-lightest p-t-10 p-b-20">
    <div class="container">
      <h1 class="text-center">Frequently Asked Question</h1>
      <div class="row m-t-20">
        <div class="col-md-4 col-md-offset-2">
          <h6 class="block-title m-t-30">
            Can I try before I buy?
          </h6>
          <p class="m-t-15 hint-text">
            It’s free to set up an account and create a campaign.
            But to get more than 100 submissions, you’ll need to choose a plan.
          </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h6 class="block-title m-t-30">
            Can I change plans at anytime?
          </h6>
          <p class="m-t-15 hint-text">
            Yes. Formester is a pay-as-you-go service and you can upgrade, downgrade or cancel at any time.
            You can upgrade anytime right from your account page.
          </p>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <h6 class="block-title m-t-30">
            What happens if I don't like the service?
          </h6>
          <p class="m-t-15 hint-text">
            Don't worry, if you are ever unhappy with our service and wish to cancel,
            we'll happily reimburse your last month -- no questions asked.
          </p>
        </div>
        <div class="col-md-4 col-md-offset-1">
          <h6 class="block-title m-t-30">
            I have more questions.
          </h6>
          <p class="m-t-15 hint-text">
            No problem!
            <a href="/contact">Contact us</a>
            and we'll get in touch with you shortly :)
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- contact us -->
  <div class="container  m-t-30 m-b-20 text-center ">
    <p class="text-primary fs-14">
      <a class=" btn btn-primary" href="/contact">Contact Us</a>
    </p>
  </div>
</div>

{{ partial "footer.html" . }}
