{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<link href="/assets/css/colors.css" rel="stylesheet" type="text/css" />

<!-- jumbotron -->
<section class="demo-hero-17 full-height xs-full-height bg-red m-t-20 xs-m-t-20">
  <div class="container xs-p-l-5 xs-p-r-5">
    <div class="row m-t-100 xs-p-l-5 xs-p-r-5">
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 text-align-center">
        <h1 class="mega font-montserrat text-uppercase text-white" id="responsive_headline" style="font-size: 57px; line-height: 110%; font-weight: 600;">
          Spam Protection
        </h1>
        <h4 class="m-t-20 m-b-20 fs-21" style="max-width: 500px">
          Web forms are very prone to spam.
          Formester helps you filter the noise out and focus on results.
          Setting up spam control on your HTML form is just a matter of few clicks.
        </h4>
        <div class="p-t-20">
          <a href="https://app.formester.com/users/sign_up?utm_source=spam_protection" class="btn btn-lg btn-black">
            Sign Up Now
          </a>
          <a href="/contact" class="btn btn-lg btn-default m-l-10 hidden-xs">
            Contact Sales
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 p-t-30 hidden-xs hidden-sm  m-t-60">
        <!-- BEGIN IMAGE -->
        <div class="image">
          <img src="/assets/images/forms-spam-protection.png">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- complete freedom -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/builder.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            One Click Re-Captcha
          </h1>
          <p>
            With our one-click ReCaptcha feature, prevent spam in under 2 minutes. Send user to a clean page on formester where they are verified as humans
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- custom recaptcha -->
<section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div>
        <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/custom.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center">
          <h1 class="normal-bold md-m-t-20">Custom Re-Captcha</h1>
          <p>
            Keep user on the same page and increase the chance of the conversion.
            Our philosophy has always been to keep things simple but give enough control for those who need it.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- smart filters -->
<section class="bg-master-white p-b-50 p-t-50 container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="">
        <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/smart.svg" height="150px">
        <div class="clearfix visible-xs"></div>
        <div class="col-sm-8 text-align-center col-sm-pull-4">
          <h1 class="normal-bold md-m-t-20">
            Smart Filters
            <label class="label label-warning">Beta</label>
          </h1>
          <p>
            Our database is getting smarter each day.
            We use machine learning to predict spam submissions.
            Your every form will improve our prediction.
          </p>
          <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- call to action -->
<section class="p-b-15 p-t-15 bg-master-dark text-center text-white">
  <h3 class="inline text-white xs-m-b-20">
    Protect your forms against spam
  </h3>
  <br>
  <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin" href="https://app.formester.com/users/sign_up?utm_source=website_bottom_button">
    Try Now
  </a>
</section>


{{ partial "footer.html" . }}
