/* inter-300 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('~assets/fonts/inter-v8-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/inter-v8-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/inter-v8-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/inter-v8-latin-300.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/inter-v8-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/inter-v8-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/inter-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/inter-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/inter-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/inter-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/inter-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/inter-v8-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-500 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('~assets/fonts/inter-v8-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/inter-v8-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/inter-v8-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/inter-v8-latin-500.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/inter-v8-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/inter-v8-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-600 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/inter-v8-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/inter-v8-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/inter-v8-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/inter-v8-latin-600.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/inter-v8-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/inter-v8-latin-600.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('~assets/fonts/inter-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/inter-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/inter-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/inter-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/inter-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/inter-v8-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

/* === COLORS ===*/
:root {
  --clr-primary: hsla(255, 45%, 40%, 1);
  --clr-primary-light: hsla(277, 100%, 93%, 1);
  --clr-dark: hsla(255, 56%, 18%, 1);
}

/* === FONTS === */
:root {
  --ft-big-heading: 3.75rem;
  --ft-df-heading: 3rem;
  --ft-sm-heading: 2.24rem;
  --ft-subtitle: 1.5rem;
  --ft-big-body: 1.25rem;
  --ft-df-body: 1.125rem;
  --ft-small-body: 1rem;

  --ft-bigger-body: 1.875rem;
  --ft-lg-btn: 1.125rem;
}

@media (max-width: 1200px) {
  :root {
    --ft-big-heading: 3rem;
    --ft-df-heading: 2.5rem;
    --ft-subtitle: 1.25rem;
    --ft-big-body: 1.12rem;
    --ft-df-body: 1rem;
    --ft-small-body: 0.95rem;

    --ft-bigger-body: 1.5rem;
    --ft-lg-btn: 1rem;
    --ft-md-btn: 0.75rem;
  }
}
/* ====== OTHERS ==== */
:root {
  --brd-df-rd: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;  
  font-size: var(--ft-df-body);
  line-height: 28px;
  color: var(--clr-dark);
}

a {
  text-decoration: none;
  color: var(--clr-dark);
}

a:hover {
  color: var(--clr-dark);
}

textarea {
  resize: none;
}

button {
  outline: none;
  box-shadow: none;
  border: none;
}

.bg__light-primary {
  background: var(--clr-primary-light);
}

.hero__button {
  background-color: var(--clr-primary);
  font-size: var(--ft-lg-btn);
  padding: 1em 2em;
  border-radius: 8px;
  color: white;
  font-weight: 700;
}

.hero__button:hover {
  color: white;
  opacity: 0.9;
}

.hero__invert__button {
  background-color: white;
  font-weight: 700;
  padding: 1em 2em;
  border-radius: 8px;
  color: var(--clr-primary);
}

.hero__invert__button:hover {
  background: rgb(248, 240, 253);
}

.container {
  padding: 0 3em;
}

.section__heading {
  font-size: var(--ft-df-heading);
  font-weight: 700;
}

.hglight {
  color: var(--clr-primary);
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 1em;
  }
}
