<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Formester | Best Marketing Automation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- <link rel="apple-touch-icon" href="/pages/ico/60.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="76x76" href="/pages/ico/76.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="120x120" href="/pages/ico/120.png"> -->
    <!-- <link rel="apple-touch-icon" sizes="152x152" href="/pages/ico/152.png"> -->
    <link rel="icon" type="image/svg" href="/assets/images/formester-icon.svg" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN PLUGINS -->
    <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/swiper/css/swiper.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/custom.css" rel="stylesheet" type="text/css" />
    <!-- END PLUGINS -->
    <!-- BEGIN PAGES CSS -->
    <link class="main-stylesheet" href="/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="/pages/css/pages-icons.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGES CSS -->
  </head>

  <body class="pace-dark">
