<section class="jumbotron full-vh" data-pages="parallax">
  <div class="inner full-height">
    <!-- BEGIN SLIDER -->
    <div class="swiper-container" id="hero">
      <div class="swiper-wrapper">
        <!-- BEGIN SLIDE -->
        <div class="swiper-slide fit">
          <!-- BEGIN IMAGE PARRALAX -->
          <div class="slider-wrapper">
            <div class="background-wrapper" data-swiper-parallax="30%">
              <!-- YOUR BACKGROUND IMAGE HERE, YOU CAN ALSO USE IMG with the same classes -->
              <div class="background" data-pages-bg-image="/assets/images/hero.jpg"></div>
            </div>
          </div>
          <!-- END IMAGE PARRALAX -->
          <!-- BEGIN CONTENT -->
          <div class="content-layer white-overlay-65">
            <div class="inner full-height">
              <div class="container-xs-height full-height">
                <div class="col-xs-height col-middle text-left">
                  <div class="container">
                    <div class="col-md-6 no-padding col-xs-10 col-md-offset-3 col-xs-offset-1">
                      <h1 class="semi-bold sm-text-center" data-swiper-parallax="-15%">
                        Easy Web Forms, Lead Generation &amp;
                        Customer Engagement
                      </h1>
                      <h4 class="sm-text-center m-b-20">
                        Save time, save money, look more professional and win more clients.
                      </h4>
                      <!-- <h5 class="block-title text-white sm-text-center">
                        Behind the scenes watch tour
                      </h5> -->
                      <div class="sm-text-center">
                        <a href="https://app.formester.com/users/sign_up" class="btn btn-lg btn-black">
                          Get Started
                        </a>
                        <a href="/contact" class="btn btn-lg btn-default m-l-10 hidden-xs">
                          Contact Sales
                        </a>
                      </div>
                      <p class="fs-12 font-arial hint-text sm-text-center">
                        <!-- No credit card required -->
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTENT -->
        </div>
        <!-- END SLIDE -->
      </div>
      <!-- BEGIN ANIMATED MOUSE -->
      <!-- <div class="mouse-wrapper">
        <div class="mouse">
          <div class="mouse-scroll"></div>
        </div>
      </div> -->
      <!-- Add Navigation -->
      <!-- <div class="swiper-navigation swiper-dark-solid swiper-button-prev auto-reveal"></div> -->
      <!-- <div class="swiper-navigation swiper-dark-solid swiper-button-next auto-reveal"></div> -->
    </div>
  </div>
  <!-- END SLIDER -->
</section>

<style media="screen">
  .background {
    &:before {
      content: '';
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    	opacity: .6;
    }
  }
</style>
