<section class="p-b-100 p-t-100 bg-master-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h6 class="block-title m-b-0 text-white text-center">Stay in touch</h6>
        <h1 class="text-white text-center m-t-5">Subscribe to our newsletter</h1>
        <p class="small hint-text p-t-0 text-white text-center ">We value your privacy. None of the details supplied will be shared with external parties</p>
        <div class="form-group form-group-default input-group  m-t-40 bg-transparent b-a b-transparent-white">
          <label class="control-label">Email Address</label>
          <input type="email" class="form-control text-white" placeholder="Example@mailserver.com" style="">
          <span class="input-group-btn">
                        <button class="btn btn-white m-r-10 btn-cons" type="button">Subscribe!</button>
                    </span>
        </div>
      </div>
    </div>
  </div>
</section>
