<section class="jumbotron last full-height xs-full-height z-index-10" data-pages="parallax" data-pages-bg-image="assets/images/Hero.jpg">
  <div class="container-xs-height full-height inner">
    <div class="col-xs-height col-middle text-left">
      <!-- START CONTENT -->
      <div class="container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div class="text-center sm-p-t-30">
              <img src="assets/images/logo-header.png" width="152" height="21" data-src-retina="assets/images/logo_black_2x.png" alt="" class="m-b-30">
              <h1 class="font-montserrat text-uppercase hidden-xs">Perfection Simplified</h1>
              <h2 class="font-montserrat text-uppercase visible-xs">Perfection Simplified</h2>
              <h4>Sign up for our spam free newsletter</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="row">
              <form class="m-t-40 m-b-5 clearfix">
                <div class="col-sm-5   p-r-5 sm-p-r-15">
                  <div class="form-group form-group-default col-sm-12">
                    <label class="control-label">Your Name</label>
                    <input type="email" class="form-control" placeholder="John Smith">
                  </div>
                </div>
                <div class="col-sm-7  p-l-10 sm-p-l-15">
                  <div class="form-group form-group-default input-group input-group-attached col-xs-12">
                    <label class="control-label">Email Address</label>
                    <input type="email" class="form-control" placeholder="email@abc.com">
                    <span class="input-group-btn">
                   <button class="btn btn-danger  btn-cons" type="button">Sign Up</button>
                </span>
                  </div>
                  <p class="fs-12 pull-right text-right m-r-20">Be first to find out when we Launch our product.</p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</section>
