<!-- START CONTENT SECTION -->
<section id="demo-content-3" class="jumbotron p-b-60 p-t-70 relative no-overflow bg-white">
  <img class="demo-browser-desktop visible-lg visible-xlg" src="assets/images/browser_desktop.jpg" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <img class="demo-browser-ipad visible-sm visible-md" src="assets/images/browser_ipad.jpg" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <img class="demo-browser-phone visible-xs" src="assets/images/browser_phone.jpg" data-pages="float" data-max-top-translate="0" data-max-bottom-translate="40" data-speed="0.1" data-delay="1000" data-curve="ease" alt="">
  <div class="demo-shadow"></div>
</section>
<!-- END CONTENT SECTION -->
