<section id="demo-testimonial-1" class="p-b-50 p-t-50 bg-master-lightest">
  <div class="text-center">
    <img src="assets/images/quotes.png" alt="">
    <h6 class="font-montserrat text-uppercase hint-text fs-15 text-center">What they say about pages</h6>
  </div>
  <!-- BEGIN TESTIMONIALS SLIDER-->
  <div class="container">
    <div class="swiper-container m-t-60">
      <div class="swiper-wrapper">
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide bg-transparent">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="text-center light p-l-30 p-r-30">
                         " Just when I thought this theme is badass!! Definately buying even if Ihave no app in mind to use it for.
                          </h4>
              </div>
            </div>
            <div class="row m-t-50">
              <div class="col-md-6 text-left">
                <p class="text-primary">Designer & photographer</p>
                <p class="small hint-text">churchoz</p>
              </div>
              <div class="col-md-6 text-right">
                <h5 class="hint-text fs-16">21 March 2015</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide bg-transparent">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="text-center light p-l-30 p-r-30">
                         " Just when I thought this theme is badass!! Definately buying even if Ihave no app in mind to use it for.
                          </h4>
              </div>
            </div>
            <div class="row m-t-50">
              <div class="col-md-6 text-left">
                <p class="text-primary">Designer & photographer</p>
                <p class="small hint-text">churchoz</p>
              </div>
              <div class="col-md-6 text-right">
                <h5 class="hint-text fs-16">21 March 2015</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
        <!-- BEGIN TESTIMONIAL -->
        <div class="swiper-slide bg-transparent">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="text-center light p-l-30 p-r-30">
                         " Just when I thought this theme is badass!! Definately buying even if Ihave no app in mind to use it for.
                          </h4>
              </div>
            </div>
            <div class="row m-t-50">
              <div class="col-md-6 text-left">
                <p class="text-primary">Designer & photographer</p>
                <p class="small hint-text">churchoz</p>
              </div>
              <div class="col-md-6 text-right">
                <h5 class="hint-text fs-16">21 March 2015</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- END TESTIMONIAL -->
      </div>
      <!-- Add Navigation -->
      <div class="swiper-button-prev"><i class="fa fa-13"></i></div>
      <div class="swiper-button-next"><i class="fa fa-13"></i></div>
    </div>
  </div>
  <!-- END TESTIMONIALS -->
</section>
