<section class="p-b-85 p-t-75 ">
  <!-- BEGIN TESTIMONIALS SLIDER-->
  <div class="swiper-container" id="testimonials_slider">
    <div class="swiper-wrapper">
      <!-- BEGIN TESTIMONIAL -->
      <div class="swiper-slide">
        <div class="container">
          <h6 class="font-montserrat text-uppercase hint-text fs-13 text-center">
            What they say about Formester
          </h6>
          <div class="col-sm-8 col-sm-offset-2">

            <h3 class="text-center">
              I really enjoy Formester.
              It's clean and straightforward and it does well what it is supposed to do.
            </h3>

            <div class="m-t-20">
              <p>
                <strong>Thibaud Martinez</strong>
                <br>
                Organizer
              </p>
              <img alt="" class="m-t-20" src="/assets/images/tedx_paris.svg" height="30px">
            </div>
          </div>
        </div>
      </div>
      <!-- END TESTIMONIAL -->
    </div>
    <!-- Add Navigation -->
    <div class="swiper-pagination relative p-t-20"></div>
  </div>
  <!-- END TESTIMONIALS -->
</section>
