<section class="bg-master-lightest p-b-85 p-t-75">
  <div class="container">
    <div class="md-p-l-20 md-p-r-20 xs-no-padding">
      <h5 class="block-title hint-text no-margin">Explore</h5>
      <div class="row">
        <div class="col-sm-5 col-md-4">
          <h1 class="m-t-5">Different ways to Organize your Content.</h1>
        </div>
        <div class="col-sm-7 col-md-8 no-padding xs-p-l-15 xs-p-r-15">
          <div class="p-t-20 p-l-35 md-p-l-5 md-p-t-15">
            <p>Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework that would create a credible impact on the many conventional dashboard users.</p>
            <p class="hint-text font-arial small-text col-md-7 no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
