{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="page-wrappers">
  {{ partial "jumbotron.html" . }}

  <!-- easy forms -->
  <section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
    <!-- features heading row -->
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h6 class="block-title m-b-30">Features</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div>
          <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="assets/images/form.svg" height="150px">
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-8">
            <h1>Easy Web Forms</h1>
            <p>
              Creating a form has never been simpler.
              Just point your form to our endpoint and start getting submissions in a matter of minutes.
              If you are a power user you get complete control over how the form looks.
              <br>
              <a href="/features/html_embedded_forms">Learn more</a>
            </p>
            <!-- <p class="hint-text font-arial small-text no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- prospect -->
  <section class="bg-master-white p-b-50 p-t-50 container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="">
          <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="/assets/images/notification.svg" height="150px">
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-8 col-sm-pull-4">
            <h1>
              Auto Responders
              <!-- <label class="label label-warning">Beta</label> -->
            </h1>
            <p>
              Respond to the customer as soon as you get a submission.
              The email is easy to create with our intuitive editor.
              Sending customised HTML email is also an option for the power user.
              <br>
              <a href="/features/auto_responder">Learn more</a>
            </p>
            <!-- <p class="hint-text font-arial small-text no-padding">

            </p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Integration -->
  <section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="assets/images/integration.svg" height="150px">
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-8">
            <h1>Powerful Integrations</h1>
            <p>
              Connect your form with Slack, Google Sheets, Salesforce or anything else with our Zapier integration.
              Use our webhooks to notify any other app when a submission arrives.
              <br>
              <a href="/features/integrations">Learn more</a>
            </p>
            <!-- <p class="hint-text font-arial small-text col-md-7 no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Spam protection -->
  <section class="bg-master-white p-b-50 p-t-50 container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <img alt="" class="col-sm-4 col-sm-push-8 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="assets/images/shield.svg" height="150px">
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-8 col-sm-pull-4">
            <h1>
              Spam Protection
              <!-- <label class="label label-success">New</label> -->
            </h1>
            <p>
              The web form is an easy target for spam.
              Use our one-click Recaptcha to curb spam and keep your list clean.
              You can customise this to meet the look and feel of your app.
              <br>
              <a href="/features/spam_protection">Learn more</a>
            </p>
            <!-- <p class="hint-text font-arial small-text col-md-7 no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Analytics -->
  <section class="bg-master-lightest p-b-50 p-t-50 container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row">
          <img alt="" class="col-sm-4 col-sm-offset-0 col-xs-8 col-xs-offset-2" src="assets/images/analytics.svg" height="150px">
          <div class="clearfix visible-xs"></div>
          <div class="col-sm-8">
            <h1>Powerful Analytics</h1>
            <p>
              Understand how users are interacting with your form.
              Get insights on ways to improve engagement on your form.
              Identify trends to see when you get most responses.
            </p>
            <!-- <p class="hint-text font-arial small-text col-md-7 no-padding">A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  {{ partial "testimonials.html" . }}

  <section class="p-b-20 p-t-20 bg-master-dark text-center text-white">
    <h3 class="inline text-white xs-m-b-20">
      Create your first form
    </h3>
    <br>
    <a class="btn btn-cons btn-bordered m-l-20 xs-no-margin" href="https://app.formester.com/users/sign_up?utm_source=website_bottom_button">
      Start My Free Trial
    </a>
  </section>
</div>

{{ partial "footer.html" . }}
